@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")

h1 {
    color:blue;
    text-align: center;
}
#pokemon-cards{
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card{
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    max-width: 300px;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    
}
#title{
    color: black;
    text-align: center;
}
element.style {
    text-decoration: initial;
    text-transform: uppercase;
}
#title-section{
    padding: 20px 50px 20px 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: aqua;
    background-color: aqua;
    text-align: center;
   
}
.container{
    display: flex;
}
.card img{
    width: 100%;
}